/*
    COMMON CSS
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body{color: #181818;font-family: 'DM Sans', sans-serif;margin: 0;overflow-x: hidden;padding: 0;}
img{width: 100%;}
.content{margin: 0 auto;max-width: 1170px;}

/*
    HEADER AREA CSS
*/
#header_area{background: #181818;min-height: 67px;}
.inner_header{clear: both;}
.logo_area{float: left;width: 30%;}
.logo_area img{margin: 20px 0 0 auto;width: 100px;}
nav{float: right;width: 70%}
nav ul{float: right;list-style-type:none;margin: 0;padding: 0;}
nav ul li{display: inline-block;position: relative;}
nav ul li a{color: #fff;display: block;font-size: 16px;font-family: "Oswald";padding: 21px 22px;text-decoration: none;text-transform: uppercase;}
nav ul li a.active, a:hover{color: #ff5c1d; transition:  0.5s ease;}
nav ul ul{background-color: #181818;content: "";display: none;left: 0;position: absolute;top: 45px;width: 200px;z-index: 1;}
nav ul ul li{display: block;}
nav ul ul li a{font-size: 15px;font-weight: 600;padding: 12px 16px;}
nav ul li:hover ul{display: block;}
nav ul li:hover a{color: #ff5c1d;}
nav ul:hover ul li a{color: #fff;}
nav ul ul li:hover a{background: #2f2f2f;color: #ff5c1d;}

nav ul .menu_tour{background: #2f2f2f;content: "";display: block;left: 200px;padding: 15px;position: absolute;top: 0;width: 307px;}
nav ul .menu_tour h5{color: #ff5c1d;font-size: 22px; margin: 7px 0;}
nav ul .menu_tour p{color: #fff;font-size: 15px;font-family: "Opens sans";}




#header_area nav a i.arw_icon{padding-left: 5px;}
#header_area nav a i.arb_icon{color: #ff5c1d;margin-left: 15px;}
nav ul li:hover ul .menu_tour{display: none;}
nav ul li:hover ul li:hover .menu_tour{display: block;}
.inner_ask{left: -160%; z-index: 1;}
.slicknav_menu{display: none;}
/*
@Responsive 
*/
@media screen and (min-width: 200px) and (max-width: 1577px) {
    .menu_tour{left: -70%;top: 90%;z-index: 1;}
}

@media screen and (min-width: 200px) and (max-width: 882px) {
    #mainmenu{display: none;}
    .arw_icon{display: none;}
    .arb_icon{display: none;}
    .slicknav_menu{background: #181818;display: block;z-index: 1;}
    .logo_area {float: none;width: 100%;text-align: center;}
}

/*
    Hero Area CSS
*/
#hero_area{clear: both; top: 0;}
.inner_hero{overflow: hidden;}
.hero_content{background-image: url('../img/bg-image.jpg');background-position: center;background-repeat: no-repeat; background-size: cover;height: 65vh;margin-bottom: 30px;}
.hero_content .inner_shade{background: rgba(0, 0, 0, 0.4);content: "";height: 100%;width: 100%;}
.hero_text{position: absolute;left: 50%;text-align: center;top: 35%;transform: translate(-50%, -50%);}
.hero_text h1{color: #fff;font-size: 67px;margin: 0 0 30px 0;}
.hero_text .xm_style{color: #ff5c1e;}
.hero_text a{background: #ff5c1e;color: #fff;font-size: 16px;padding: 18px 40px;text-decoration: none;}
.hero_text a:hover{background: #fff;color: #181818;transition: 0.5s ease;}
/*
    @Responsive
*/


/*
    Service Area CSS
*/
#service_area{background-color: #f1f1f1;padding: 50px 0;width: 100%;}
.inner_service{overflow: hidden;}
.inner_title h2.title{font-size: 26px;font-weight: normal;text-align: center;}
.title_area{margin: 0 auto;width: 70%;}
.inner_title .inner_location{background-color: #fff;border-radius: 50%;color: #ff5c1e;font-size: 34px;height: 55px;float: left;margin: 20px 10px 0 0;padding: 5px 5px 5px 10px;width: 53px;}
.sub_title{font-size: 15px;float: left;width: 70%;}
.main_service{clear: both;padding: 30px 0 0 0;}
.main_service a{color: #181818;text-decoration: none;}
.main_service a:hover{color: #ff5c1e;}
.child_service{float: left;padding: 15px;position: relative;width: 30.33%;}
.child_service h4{font-size: 22px;margin-bottom: 0;}
.child_service code{border-bottom: 2px solid #181818;}
.child_service .icon{background-color: #fff;font-size: 18px;height: 30px;left: 195px;padding: 5px;position: absolute;text-align: center;top: 30px;width: 50px;}
.child_service p{color: #8e8e8e;text-align: justify;}
.child_service:hover{background: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);cursor: pointer;}
/*
    @Responsive
*/
@media screen and (min-width: 200px) and (max-width: 998px) {
    .child_service {float: none;margin: 2%;width: 90%;}
}

/*
    About us Area CSS
*/
#aboutus_area{margin: 2%;padding: 30px 0;width: 100%;}
.inner_about{overflow: hidden;}
.company_text{float: left;margin:5% 10% 0 0;width: 40%;}
.company_text h2{font-size: 28px;font-weight: normal;}
.company_text p{color: #8e8e8e;font-size: 15px;}
.company_text a{color: #181818;display: block;font-size: 15px;text-decoration: none;}
.angle_right{color: #ff5c1e;margin-left: 5px;}
.company_text a:hover{color: #ff5c1e;transition: 0.5s ease;}
.company_image{float: left;margin-right: 5%;width: 45%;}
/*
    @Responsive
*/
@media screen and (min-width: 200px) and (max-width: 991px) {
    .company_text{padding-bottom: 20px;width: 95%;}
    .company_image{width: 95%}
}
/*
    Portfolio Gallery Area CSS
*/
#portfolio_area{padding: 30px 0;width: 100%;}
.inner_portfolio{overflow: hidden;}
.portfolio_header{text-align: center;}
.portfolio_header h2{font-size: 28px;font-weight: normal;}
.portfolio_header p{color: #8e8e8e;font-size: 15px;}
.gallery_content{overflow: hidden;}
.portfolio-menu{text-align: center;}
.portfolio-menu ul li{border: 1px solid #ff5c1e;cursor: pointer;display: inline-block;list-style-type: none;padding: 8px 10px;transition: all .5s ease;}
.portfolio-menu ul li:hover{background: #ff5c1e;color: #fff;}
.portfolio-item{margin-left: 10%;width: 100%;}
.portfolio-item .item{float: left;margin: 10px;width: 303px;}
.portfolio-menu ul li.active{background: #ff5c1e;color: #fff;}

/*
    Footer Area CSS
*/
#footer_area{background: #ff5c1e;padding: 50px 0 10px 0;width: 100%;}
.inner_footer{overflow: hidden;}
.footer_service{width: 100%;}
.child_footer{float: left;width: 24%;}
.inner_opt{margin-left: 10px;}
.child_footer h4{color: #181818;font-size: 16px;margin: 0;padding: 0;text-transform: uppercase;}
.child_footer p{color: #181818;font-size: 14px;text-align: justify;}
.child_footer ul{margin: 0;}
.child_footer ul li{display: block;}
.child_footer ul li a{color: #181818;font-size: 14px;text-decoration: none;text-transform: uppercase;}
.inner_contact p{color: #ececec;}
.inner_copy{clear: both;margin-left: 10px;padding-top: 30px;}
.inner_copy p{font-size: 12px;}
.contact_icon{padding-right: 20px;}
/*
    @Responsive
*/
@media screen and (min-width: 200px) and (max-width: 768px) {
    .child_footer{width: 95%; margin: 5% 0 -1% 0;}
    .inner_opt{margin-left: 10px;}
    .inner_contact{margin-left: 10px;}
    .inner_copy{padding-top: 20px;}
}
